* {
  font-family: "Crimson Pro", "Times New Roman";
  margin: 0;
}

body {
  background-color: white;
}

/* MENU */

header {
  background-color: white;
}

.menu-screen {
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.menu-screen-item {
  border-bottom: 1px solid white;
}

.menu-screen-item a {
  text-decoration: none;
  color: white;
  line-height: 200px;
  font-size: 140px;
  overflow: hidden;
}

.menu-bar {
  height: 50px;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.menu-bar button,
.menu-bar div,
.menu-bar a {
  color: white;
  font-size: 1.5rem;
  line-height: 3rem;
}

.menu-bar button {
  border: none;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.menu-title p {
  font-weight: 200;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blinking 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.menu-bar a {
  text-decoration: none;
}

.menu-motto {
  font-weight: 200;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* RECENT */

.recent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  opacity: 0;
  animation: 2.5s fadein 0.4s ease-in forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.recent-image-container {
  width: 100%;
}

.recent-image {
  padding: 30px;
  margin: 50px 0;
  max-width: 70%;
  max-height: 500px;
  box-shadow: 8px 8px 7px grey;
  transition: 0.5s;
}

.recent-image:hover {
  transform: scale(1.05);
}

.recent-info {
  padding: 0 3%;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3%;
}

.recent-quote {
  font-style: italic;
  line-height: 1.5rem;
  font-weight: 100;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.recent-title {
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: orange;
}

#recent-read-btn {
  font-weight: 200;
  width: 100px;
  border: 1px solid grey;
  background-color: rgb(250, 242, 234);
  font-size: 1.5rem;
  padding: 4px;
  cursor: pointer;
}

.recent-card-text {
  font-weight: 200;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.recent-card-master {
  width: 100%;
  background-color: rgb(250, 242, 234);
}

.recent-card-img {
  height: 300px;
  width: 300px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.recent-post-line {
  width: 333px;
}

.recent-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.recent-card {
  background-color: rgb(252, 242, 230);
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  box-shadow: 2px 2px 4px grey;
}

.recent-card a {
  text-decoration: none;
  font-style: italic;
  font-size: 1.3em;
  color: black;
}

/* FOOTER */

footer {
  background-color: rgb(250, 242, 234);
  text-align: center;
  color: rgb(99, 99, 99);
}

@media only screen and (min-width: 1080px) {
  .recent-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .recent-image {
    margin: 50px;
    width: 100%;
    height: 700px;
  }
  .recent-info {
    padding: 25px;
  }
}

@media only screen and (min-width: 1700px) {
  .recent-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "... image info ...";
  }
  .recent-image-container {
    grid-area: image;
  }
  .recent-info {
    grid-area: info;
  }
}
