* {
  font-family: "Crimson Pro";
}

body {
  background-color: black;
}

/* HEADER */

main {
  max-height: 100vh;
  overflow: hidden;
}

header {
  background-color: rgb(250, 242, 234);
}

.header-small {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 0 2%;
  margin-bottom: 0;
  align-items: baseline;
}

.header-nav {
  text-align: left;
  padding-left: 1%;
}

.header-nav a {
  border: 1px solid rgb(99, 99, 99);
  text-decoration: none;
  color: rgb(99, 99, 99);
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.5rem;
}

.header {
  border-bottom: 1px solid black;
}

.header-motto {
  font-size: 1rem;
}

.header-motto b {
  font-size: 1.2rem;
}

.header-name {
  font-size: 4rem;
}

/* RECENT */

.recent-quote {
  font-style: italic;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 4%;
}

.recent-image {
  width: 100%;
}

.recent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-title {
  padding: 2px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3%;
  display: none;
}

/* FOOTER */

footer {
  background-color: rgb(250, 242, 234);
  text-align: center;
  color: rgb(99, 99, 99);
}

@media screen and (max-width: 900px) {
  .header-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .header-name {
    text-align: center;
  }
  .recent-title {
    display: block;
  }
  .recent-container {
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(250, 242, 234);
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .header-nav a {
    padding: 0 15px;
    font-size: 40px;
    text-align: center;
    margin: 4px 0;
  }
  .header-container {
    order: -1;
  }
  .header-name {
    line-height: 3.8rem;
  }
  main {
    display: flex;
    flex-direction: column;
  }
}
